span{
    font-size: 1.5rem;
    font-weight: 800;
}

.card{
    width: 100%;
}

.button{
    border: none;
    background-color: rgb(248, 60, 91);
    width: 100%;
    padding: 10px;
    font-weight: 800;
    border-radius: 10px;
    color: white;
}

