.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary-container{
    background: pink;
    border-radius: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.summary-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lucky{
    border: none;
    border: 2px solid rgb(28, 100, 34);
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}
.again{
    border: none;
    border: 2px solid rgb(218, 54, 32);
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    display: flex;
    margin: auto;
}

@media screen and (max-width:576px) {
    .container{
        position: relative;
    }
    .course-container{
        z-index: -1;
        position: absolute;
        top: 100%;
        display: block;
    }
    
}
