.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width:576px) {
    .container{
        position: relative;
    }
    .course-container{
        z-index: -1;
        position: absolute;
        top: 50px;
        display: block;
    }
}

.summary-container{
    background: pink;
    border-radius: 20px;
    margin-left:20px;
    padding: 10px;
    /* height: 500px; */
}

.summary-title{
    text-align: center;
}