.single{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}
.single img {
    width: 50px;
    border-radius: 20px;
}